{% extends "base.html" %}
{% load static %}

{%block title%}
<title>Admin dashboard</title>
{% endblock%}

{% block content %}
<div class="flex min-h-screen">
    <div class="home w-full px-4 py-2 bg-gray-200 lg:w-full">
        <!-- sidebar button -->
        <div class="flex justify-end">
            <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 focus:outline-none" type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation">
            Show navigation
            </button>
         </div>
        <div id="dashboard" class="content container bg-yellow-200 mx-auto">
            <div class="grid gap-4 lg:grid-cols-3" >
                <div class="flex items-center px-4 py-6 bg-white rounded-md shadow-md">
                    <div class="p-3 bg-indigo-600 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-white" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                        </svg>
                    </div>
                    <div class="mx-4">
                        <h4 class="text-2xl font-semibold text-gray-700">7</h4>
                        <div class="text-gray-500">Live events</div>
                    </div>
                </div>

                <div class="flex items-center px-4 py-6 bg-white rounded-md shadow-md">
                    <div class="p-3 bg-indigo-600 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-white" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M12 14l9-5-9-5-9 5 9 5z" />
                            <path
                                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
                        </svg>
                    </div>
                    <div class="mx-4">
                        <h4 class="text-2xl font-semibold text-gray-700">30</h4>
                        <div class="text-gray-500">Draft events</div>
                    </div>
                </div>

                <div class="flex items-center px-4 py-6 bg-white rounded-md shadow-md">
                    <div class="p-3 bg-indigo-600 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-white" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9 8h6m-5 0a3 3 0 110 6H9l3 3m-3-6h6m6 1a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>
                    <div class="mx-4">
                        <h4 class="text-2xl font-semibold text-gray-700">1000</h4>
                        <div class="text-gray-500">Past/archived events</div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col mt-8">
                <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                    <div
                        class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg">
                        <table class="min-w-full">
                            <thead>
                                <tr>
                                    <th
                                        class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                                        Name</th>
                                    <th
                                        class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                                        Tickets Sold</th>
                                    <th
                                        class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                                        Status</th>
                                    <th
                                 
                                        class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                                        Edit
                                    </th>
                                    <th
                                        class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                                        Delete
                                    </th>
                                </tr>

                            </thead>

                            <tbody class="bg-white">
                                {% for data in event_data %}
                                <tr>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                        <div class="flex items-center">
                                            <div class="flex-shrink-0 w-10 h-10">
                                                <img class="w-10 h-10 rounded-full"
                                                    src="{% static 'img/img1.jpeg' %}"
                                                    alt="admin dashboard ui">
                                            </div>

                                            <div class="ml-4">
                                                <div class="text-sm font-medium leading-5 text-gray-900">
                                                    {{data.event.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <!-- TICKETS SOLD -->
                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                        <div class="text-sm leading-5 text-gray-500"> {{data.total_ticket_quantity}} </div>
                                    </td>

                                    <!-- STATUS -->
                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                        <span
                                            class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">Active</span>
                                    </td>
                                    
                                    <!-- EDIT -->
                                    <td
                                    <button type="button" onclick="getEventFields('{{data.event.id}}')"
                                        data-modal-target="staticModal" data-modal-toggle="staticModal" class="px-6 py-6 text-sm leading-5 text-gray-500 cursor-pointer whitespace-no-wrap border-b border-gray-200">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-blue-400 hover:text-blue-700"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                        </svg>
                                    </button>
       
                                    </td>
                                    <!-- DELETE -->
                                    <td
                                        class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                                        <a href="/">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-red-400 hover:text-red-900"
                                                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2"
                                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div id="payments" class="content bg-blue-700 h-full mx-auto" hidden> payments</div>
        <div id="tickets" class="content bg-red-500 h-full mx-auto" hidden> tickets</div>
        <div id="profile" class="content bg-green-500 h-full mx-auto" hidden> profile</div>
    </div>

    <div class="myTicktets hidden w-full px-4 py-2 bg-gray-100 lg:w-full">
        MY Tickets
    </div>
    <div class="payments  hidden w-full px-4 py-2 bg-gray-100 lg:w-full">
        Payments
    </div>
    <div class="profile hidden w-full px-4 py-2 bg-gray-100 lg:w-full">
        Profile
    </div>
</div>

<!-- EDIT EVENT MODAL -->
<div id="staticModal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Edit event details
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="staticModal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>



            <!-- Modal body -->
            <form method="POST" id="formdata" class="p-1"  enctype="multipart/form-data">
                {% csrf_token %}
                  <div class="p-4 ">
                    <div class="step1 space-y-1">
                      <div>
                        <label for="name" class="block text-md font-medium text-gray-700">Event name</label>
                        <input type="text" id="name" name="name" placeholder="Enter event name" class="mt-1 p-2 block w-full h-10 border-gray-300 rounded-sm focus:ring-indigo-100 sm:text-sm">
                      </div>
                      <div>
                        <label for="event_description" class="block text-sm font-medium text-gray-700">Event Description</label>
                        <textarea id="event_description" name="event_description" placeholder="Enter the event description" class="mt-1 block w-full h-36 border-gray-300 rounded-sm  focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>
                      </div>
                      <div>
                        <label for="start_datetime" class="block text-sm font-medium text-gray-700">Start Date and Time</label>
                        <input type="datetime-local" id="start_datetime" name="start_datetime" class="mt-1 p-2 block w-full h-10 border-gray-300 rounded-sm  focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" onchange="formatDateTime(this)">
                      </div>
                      <div>
                        <label for="end_datetime" class="block text-sm font-medium text-gray-700">End Date and Time</label>
                        <input type="datetime-local" id="end_datetime" name="end_datetime" class="mt-1 block w-full h-10 border-gray-300 rounded-sm  focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" >
                      </div>
                      <div>
                        <label for="venue" class="block text-sm font-medium text-gray-700">Venue</label>
                        <input type="text" id="venue" name="venue" placeholder="Enter the event venue" class="mt-1 p-2 block w-full h-10 border-gray-300 rounded-sm  focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                      </div>
                      <div>
                        <label for="event_banners" class="block text-sm font-medium text-gray-700">New Event Banner</label>
                        <input type="file" id="event_banners" name="event_banner" class="block w-full h-10 cursor-pointer  border-gray-300 rounded-sm  focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <div id="image-preview" class="flex items-center justify-center w-full mt-4">
                          <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg  bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                              <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                  <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                  </svg>
                                  <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                              </div>
                          </label>
                      </div> 
                      </div>
                      <div>
                        <label for="age_restriction" class="block text-sm font-medium text-gray-700">Age Restriction</label>
                        <input type="text" id="age_restriction" name="age_restriction" placeholder="Enter age restriction (if any)" class="mt-1 p-2 block w-full h-10 border-gray-300 rounded-md  focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                      </div>
              
                    </div>
                  </div>
                  <!-- Modal footer -->
                  <div class="flex justify-between p-6 space-x-2 border-t border-gray-200">
                      <button type="button" data-modal-hide="staticModal" class="text-gray-500 bg hover:bg-gray-100 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">Cancel</button>
                      <button type="submit" class="hover:bg-blue-100 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">SUBMIT</button>
                  </div>
            </form>
        </div>
    </div>
  </div>


<!-- SIDE BAR CODE -->

 <!-- drawer component -->
 <div id="drawer-navigation" class="fixed top-0 left-0 z-40 w-64 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-navigation-label">
     <h5 id="drawer-navigation-label" class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">Menu</h5>
     <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
         <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
         <span class="sr-only">Close menu</span>
     </button>
   <div class="py-4 overflow-y-auto">
       <ul class="space-y-2 font-medium">
          <li>
             <button class="nav-btn flex items-center p-2 text-gray-900 rounded-lg" data-target="dashboard">
                <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                   <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/>
                </svg>
                <span class="flex-1 ml-3 whitespace-nowrap">Dashboard</span>
             </button>
          </li>
          <li>
             <button class="nav-btn flex items-center p-2 text-gray-900 rounded-lg" data-target="tickets">
                <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                   <path d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z"/>
                </svg>
                <span class="flex-1 ml-3 whitespace-nowrap">Tickets</span>
             </utton>
          </li>
          <li>
            <button class="nav-btn flex items-center p-2 text-gray-900 rounded-lg" data-target="payments">
               <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.96 2.96 0 0 0 .13 5H5Z"/>
                  <path d="M6.737 11.061a2.961 2.961 0 0 1 .81-1.515l6.117-6.116A4.839 4.839 0 0 1 16 2.141V2a1.97 1.97 0 0 0-1.933-2H7v5a2 2 0 0 1-2 2H0v11a1.969 1.969 0 0 0 1.933 2h12.134A1.97 1.97 0 0 0 16 18v-3.093l-1.546 1.546c-.413.413-.94.695-1.513.81l-3.4.679a2.947 2.947 0 0 1-1.85-.227 2.96 2.96 0 0 1-1.635-3.257l.681-3.397Z"/>
                  <path d="M8.961 16a.93.93 0 0 0 .189-.019l3.4-.679a.961.961 0 0 0 .49-.263l6.118-6.117a2.884 2.884 0 0 0-4.079-4.078l-6.117 6.117a.96.96 0 0 0-.263.491l-.679 3.4A.961.961 0 0 0 8.961 16Zm7.477-9.8a.958.958 0 0 1 .68-.281.961.961 0 0 1 .682 1.644l-.315.315-1.36-1.36.313-.318Zm-5.911 5.911 4.236-4.236 1.359 1.359-4.236 4.237-1.7.339.341-1.699Z"/>
               </svg>
               <span class="flex-1 ml-3 whitespace-nowrap">Payments</span>
            </button>
         </li>
         <li>
            <button class=" nav-btn flex items-center p-2 text-gray-900 rounded-lg" data-target="profile">
               <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.96 2.96 0 0 0 .13 5H5Z"/>
                  <path d="M6.737 11.061a2.961 2.961 0 0 1 .81-1.515l6.117-6.116A4.839 4.839 0 0 1 16 2.141V2a1.97 1.97 0 0 0-1.933-2H7v5a2 2 0 0 1-2 2H0v11a1.969 1.969 0 0 0 1.933 2h12.134A1.97 1.97 0 0 0 16 18v-3.093l-1.546 1.546c-.413.413-.94.695-1.513.81l-3.4.679a2.947 2.947 0 0 1-1.85-.227 2.96 2.96 0 0 1-1.635-3.257l.681-3.397Z"/>
                  <path d="M8.961 16a.93.93 0 0 0 .189-.019l3.4-.679a.961.961 0 0 0 .49-.263l6.118-6.117a2.884 2.884 0 0 0-4.079-4.078l-6.117 6.117a.96.96 0 0 0-.263.491l-.679 3.4A.961.961 0 0 0 8.961 16Zm7.477-9.8a.958.958 0 0 1 .68-.281.961.961 0 0 1 .682 1.644l-.315.315-1.36-1.36.313-.318Zm-5.911 5.911 4.236-4.236 1.359 1.359-4.236 4.237-1.7.339.341-1.699Z"/>
               </svg>
               <span class="flex-1 ml-3 whitespace-nowrap">Profile</span>
            </button>
         </li>

          <li>
             <a href="/auth/logout/" class="flex items-center p-2 text-gray-900 rounded-lg cursor-pointer">
                <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                   <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"/>
                </svg>
                <span class="flex-1 ml-3 whitespace-nowrap">Sign out</span>
            </a>
          </li>
       </ul>
    </div>
 </div>
 
<script>
    // const home = document.querySelector(".home");
    // const myTickets = document.querySelector(".myTicktets");
    // const payments = document.querySelector(".payments");
    // const profile = document.querySelector(".profile");
    // // home.classList.add('hidden');
    // const btnslist = document.querySelectorAll(".btn");

    // var ticketbtn = btnslist[1].querySelector('button');
    // // console.log(ticketbtn)
    // ticketbtn.addEventListener('click',()=>{
    //     home.classList.add('hidden');
    //     myTickets.classList.remove('hidden');

    // })


</script>
<script>
    // Function to preview the selected image
    function previewImage() {
      var fileInput = document.getElementById('event_banners');
      var imagePreview = document.getElementById('image-preview');

      // Check if a file is selected
      if (fileInput.files && fileInput.files[0]) {
        var reader = new FileReader();

        // When the file is read, set the image source and display it
        reader.onload = function(e) {
          var img = new Image();
          img.src = e.target.result;

          // Set the width and height attributes
          img.onload = function() {
            // var maxWidth = 500;
            // var maxHeight = 500;
            // var width = img.width;
            // var height = img.height;

            // // Calculate the new dimensions if necessary
            // if (width > maxWidth || height > maxHeight) {
            //   var ratio = Math.min(maxWidth / width, maxHeight / height);
            //   width = Math.round(width * ratio);
            //   height = Math.round(height * ratio);
            // }

            // // Create the img element with width and height attributes
            // var imgElement = '<img src="' + img.src + '" width="' + width + '" height="' + height + '" class="max-w-full max-h-full">';

            // // Display the image
            imagePreview.innerHTML = `<img src="${img.src}" class="w-full h-full">`;
          };
        };

        // Read the image file as a data URL
        reader.readAsDataURL(fileInput.files[0]);
      } else {
        // If no file is selected, clear the image preview
        imagePreview.innerHTML = '';
      }
    }

    // Attach the previewImage function to the change event of the file input
    document.getElementById('event_banners').addEventListener('change', previewImage);
</script>

<!-- EDIT EVENT -->
<script>
    function convertUTCToLocal(utcDateString) {
        const date = new Date(utcDateString);
        const localDateString = date.toISOString().slice(0, 16);
        return localDateString;
    }
    const now = new Date().toISOString().slice(0, 16);    
    document.getElementById('start_datetime').setAttribute('min', now);
    document.getElementById('end_datetime').setAttribute('min', now);

    function getEventFields(id){
    fetch(`/edit_event/${id}/`)
    .then(res=>res.json())
    .then(data=>{
        const fields = data['event']['fields'];
        document.getElementById('name').value = fields.name;
        document.getElementById('event_description').value = fields.event_description;
        document.getElementById('venue').value = fields.venue;
        // document.getElementById('event_banner').value = fields.event_banners;
        document.getElementById('start_datetime').value = convertUTCToLocal(fields.start_datetime);
        document.getElementById('end_datetime').value = convertUTCToLocal(fields.end_datetime);
        document.getElementById('age_restriction').value = fields.age_restriction;

    })
    .catch(error => {
      console.error('Error:', error);
    });
    }

</script>

<!-- script for switching between dashboard views -->
<script>
const contentSections = document.querySelectorAll('.content');
    const navButtons = document.querySelectorAll('.nav-btn');

    navButtons.forEach(button => {
      button.addEventListener('click', () => {
        const target = button.getAttribute('data-target');
        contentSections.forEach(section => {
          if (section.id === target) {
            section.removeAttribute('hidden');
          } else {
            section.setAttribute('hidden', 'hidden');
          }
        });
      });
    });
</script>
{% endblock%}   