{% extends "base.html" %}

{%block title%}
<title>All Events</title>
{% endblock%}

{% block content %}

<section class="bg-white dark:bg-gray-800">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Add your event details</h2>
        <form action="#" class="space-y-6">
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:gap-6">
                <div>
                    <label for="name" class="block text-sm font-medium text-gray-900 dark:text-white">Event Name</label>
                    <input type="text" name="name" id="name" class="input-field" placeholder="Type event name" required="">
                </div>
                <div>
                    <label for="description" class="block text-sm font-medium text-gray-900 dark:text-white">Event Description</label>
                    <textarea id="description" rows="8" class="input-field" placeholder="Your description here"></textarea>
                </div>
                <div>
                    <label for="age-restriction" class="block text-sm font-medium text-gray-900 dark:text-white">Age restriction</label>
                    <select id="age-restriction" class="input-field">
                        <option selected="">Select age restriction</option>
                        <option value="16+">16+</option>
                        <option value="18+">18+</option>
                        <option value="Couples">Couples</option>
                    </select>
                </div>
                <div>
                    <label for="venue-name" class="block text-sm font-medium text-gray-900 dark:text-white">Venue Name</label>
                    <input type="text" name="venue-name" id="venue-name" class="input-field" placeholder="Type venue name" required="">
                </div>
                <div>
                    <label for="venue-address" class="block text-sm font-medium text-gray-900 dark:text-white">Venue Address</label>
                    <input type="text" name="venue-address" id="venue-address" class="input-field" placeholder="Type venue address" required="">
                </div>
                <div>
                    <label for="event-category" class="block text-sm font-medium text-gray-900 dark:text-white">Event category</label>
                    <select id="event-category" class="input-field">
                        <option selected="">Select event category</option>
                        <option value="Music">Music</option>
                        <option value="Charity">Charity</option>
                        <option value="Travel">Travel</option>
                    </select>
                </div>
            </div>
            <div class="flex justify-center">
                <button type="submit" class="btn-create-event">Create Event</button>
            </div>
        </form>
    </div>
</section>



{% endblock %}
