
{% load static %}

	{% block title %}
		<title>Log in </title>
	{% endblock %}

	{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'register-login.css' %}">
	{% endblock %}
    
	{% block content %}
	<form class="form">
		<span class="signup">Log in</span>
		Email
		<input type="email" placeholder="Email address" class="form--input">
		Password
		<input type="password" placeholder="Password" class="form--input">
		<button class="form--submit">
			Log in
		</button>
	</form>
	{% endblock %}

