{% extends "base.html" %}

{%block title%}
<title>Create Event</title>
{% endblock%}

{% block content %}
<div class="btns mb-4">
    <button type="submit" id="paid" class="inline-flex items-center text-black bg-gray-200 px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium
    text-center rounded-lg focus:ring-4 focus:ring-primary-200 
    dark:focus:ring-primary-900 hover:bg-primary-800">
    Add Paid ticket
    </button>   
    <button type="submit" id="free" class="inline-flex items-center text-black bg-gray-200 px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium
    text-center rounded-lg focus:ring-4 focus:ring-primary-200 
    dark:focus:ring-primary-900 hover:bg-primary-800">
    Add free ticket
    </button>   
    <button type="submit" id="donations" class="inline-flex items-center text-black bg-gray-200 px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium
    text-center rounded-lg focus:ring-4 focus:ring-primary-200 
    dark:focus:ring-primary-900 hover:bg-primary-800">
    Collect donations
    </button>   
</div>

<div class="relative mx-auto overflow-x-auto shadow-md sm:rounded-lg">
    <table class=" text-sm text-left w-full text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700">
            <tr>
                <th scope="col" class="px-6 py-3">
                    TICKET TYPE
                </th>
                <th scope="col" class="px-6 py-3">
                    NAME
                </th>
                <th scope="col" class="px-6 py-3">
                    PRICE
                </th>
                <th scope="col" class="px-6 py-3">
                    QUANTITY
                </th>
                <th scope="col" class="px-6 py-3">
                    DELETE
                </th>
            </tr>
        </thead>
        <tbody id="tablebody">
            <tr class="bg-white border-b">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    PAID TICKET
                </th>
                <td class="px-6 py-4">
                    <input type="text" class="border-b w-1/2" placeholder="eg.General/VIP">
                </td>
                <td class="px-6 py-4">
                    <input type="text" class="border-b w-1/2" placeholder="eg.General/VIP">
                </td>
                <td class="px-6 py-4">
                    <input type="text" class="border-b w-1/2" placeholder="eg.General/VIP">
                </td>
                <td class=" px-6 py-4">
                    <!-- <span class="px-2">DELETE</span> -->
                    <button type="button" class="deletebtn flex items-center px-2">DELETE
                        <svg class="w-5 h-5 text-red-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h16M7 8v8m4-8v8M7 1h4a1 1 0 0 1 1 1v3H6V2a1 1 0 0 1 1-1ZM3 5h12v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V5Z"/>
                        </svg>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    var tablebody = document.getElementById('tablebody');
    const paidButton = document.getElementById('paid');
    const freeButton = document.getElementById('free');
    const donationsButton = document.getElementById('donations');
    var deletebtns = document.querySelectorAll('.deletebtn');

    deletebtns.forEach(deletebtn=>{
        deletebtn.addEventListener('click',()=>{

        })
    });

    paidButton.addEventListener('click', function() {
        var newdiv  = document.createElement('div');
        newdiv.innerHTML = `
        <tr class="ticketRow bg-white border-b">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    PAID TICKET
                </th>
                <td class="px-6 py-4">
                    <input type="text" class="border-b w-1/2" placeholder="eg.General/VIP">
                </td>
                <td class="px-6 py-4">
                    <input type="text" class="border-b w-1/2" placeholder="eg.General/VIP">
                </td>
                <td class="px-6 py-4">
                    <input type="text" class="border-b w-1/2" placeholder="eg.General/VIP">
                </td>
                <td class=" px-6 py-4">
                    <button type="button" class="deletebtn flex items-center px-2">DELETE
                        <svg class="w-5 h-5 text-red-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h16M7 8v8m4-8v8M7 1h4a1 1 0 0 1 1 1v3H6V2a1 1 0 0 1 1-1ZM3 5h12v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V5Z"/>
                        </svg>
                    </button>
                </td>
            </tr>
        `;


        tablebody.append(newdiv);

        const deletebtn =  newdiv.querySelector('.deletebtn');
        deletebtn.addEventListener('click',()=>{
            const ticket = deletebtn.closest('tr');
            console.log(ticket)
        })
        });

    freeButton.addEventListener('click', function() {

    });

    donationsButton.addEventListener('click', function() {

    });
        


</script>

{% endblock%}


