{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% block title %}
        <title>web</title>
        {% endblock %}

        {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'web.css' %}">
        {% endblock %}
        
    </head>
    <body>
        <!-- BEGINNING OF HEADER -->
        <div class="header">
            <div class="logo">SNAP EVENTS</div>
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="{% url 'home' %}">Events</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>            
                </ul>
            </div>

        </div>
        <!-- END IF HEADER -->
        {% block content %}

        {% endblock %}

        <!-- START OF FOOTER -->

        <div class="footer">
                <div class="sub-footer"></div>
                <div class="sub-footer"></div>
                <div class="sub-footer"></div>
                <div class="sub-footer"></div>

            <div class="copyright"></div>
        </div>

        <!-- END OF FOOTER -->


        <!-- HAMBURGER TOGGLE SCRIPT -->
        <script>
            const hm = document.querySelector(".hamburger");
                hm.addEventListener("click", () => {
                    navbar = document.querySelector(".navbar");
                    navbar.classList.toggle('active');
            });
        </script>

    </body>
</html>